*
{
    background-color: black;
}
#hatterszin{
    background-color: rgb(226, 35, 35);
    width: 300px;
    font-size: 40px;
    margin: auto;
    text-align: center;
    text-shadow: 22px 22px 71px blue;
}

#hatterkep{
    background-image: url(./download.jpg);
    height: auto;
    font-size: 40px;
    margin: 0;
    color: rgb(255, 255, 255);
}
a {
    text-decoration-style: wavy;
    font-size: large;
    
}
h1{
    text-shadow: 2px 2px  12px red;
    color: #fff;
}