h1
{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    display: inline-block;
    color: white;
    
}
h2
{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: top 20px;
    display: inline-block;
    color: white;
}
body
{
    background-image: url(https://i.pinimg.com/originals/ae/cf/20/aecf20176f360a4b1fc8d9a9aa577a8b.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
div
{
    text-align: center;
}
#sor1
{
    text-align: left;
}
a
{
    color:rgb(236, 150, 150);
}
h3
{
    color:white ;
    text-align: center;
    font-size: 50px;
    margin: auto;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252a;
  }