h1
{
    text-align: center;
    color: white;
    
}
h2
{
    text-align: left;
    margin: top 20px;
    color: white;
}
body
{
    background-image: url(https://i.pinimg.com/originals/ae/cf/20/aecf20176f360a4b1fc8d9a9aa577a8b.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
a
{
    color:rgb(236, 150, 150);
}
h3
{
    color:white ;
    text-align: center;
    font-size: 50px;
    display: block;
}
  #bemutatas
  {
    color: #fff;
    text-align: center;
    padding: 263px;
    font-size: 40px;
    margin: 35px;
  }

  b, strong {
    color: red;
    }

  #creators {
    padding: 3;
    font-size: 20px;
  }

  #nyelvek{
    background-color: #f00;
    color: #fff;
    border-radius: 8px;
    width: 155px;
    height: 60px;
    float: right;
    position: fixed;
  }
  #fooldal{
    background-color: #f00;
    color: #fff;
    border-radius: 8px;
    width: 155px;
    height: 60px;
    float: left;
    position: flex;
  }
  .vissza{
    background-color: #f00;
    color: #fff;
    border-radius: 8px;
    width: 155px;
    height: 60px;
    float: left;
    position: fixed;
    margin: 0;
  }

footer{
  text-align: center;
  padding: 5px;
  background-color: gray;
  color: white;
  background-position:center;
}

.fajta{
  color: white;
  text-align: center;
  list-style: none;
  font-size: 35px;
  padding: 250px;
}

a {                         
  text-decoration: underline;
  color: rgb(229, 255, 0);
  padding: 5px;
  margin: 45px;
}
#node-feher
{
  font-size: 25px;
  padding: 100px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: white;
}

#node-narancs
{
  font-size: 25px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: orange;
  padding: 100px;
}

#python-narancs{
  font-size: 25px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: orange;
  padding: 100px;
}

#python-feher{
  font-size: 25px;
  padding: 100px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: white;
}

header{
  color: white;
  background-color: gray;
  margin: 0;
  padding: 0;
  font-size: 25px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  width: 550px ;
  float: right;
  
}

#fonode {
  color: yellow;
  text-align: center;
}
#fojava{
  color: yellow;
  text-align: center;
}
#fopy{
  color: yellow;
  text-align: center;
}